In [28]:
import pandas as pd
import os
data_path = r"C:\Mohamed\Work\30 days projects\Ai-outreach-agent\data\raw\linkedin_leads.csv"

In [29]:
df = pd.read_csv(data_path)
df.head()

,linkedinProfileUrl,fullName,firstName,lastName,companyName,linkedinCompanyUrl,linkedinJobTitle,linkedinJobDateRange,companyIndustry,linkedinHeadline,...,linkedinMutualConnectionsUrl,linkedinProfileSlug,linkedinCompanySlug,linkedinProfileUrn,id,connectionDegree,createdAt,updatedAt,createdBy,updatedBy
0,https://linkedin.com/in/mohamed-k-abdelmeguid,Mohamed Khaled,Mohamed,Khaled,PALM,https://linkedin.com/company/withpalmai,Head of Engineering,Jan 2025 - Present,Financial Services,"Head of Engineering at Palm, MSc | Driving Pro...",...,https://www.linkedin.com/search/results/people...,mohamed-k-abdelmeguid,withpalmai,ACoAABSvWo0B8EJ4KI6zX3POLgk_452ennZhCRg,8.653533e+15,2nd,9/7/2025,9/7/2025,Software - Head of Engineering,Software - Head of Engineering
1,https://linkedin.com/in/emad-mounir-056137143,Emad Mounir,Emad,Mounir,alfanar,https://linkedin.com/company/alfanar,Design Manager,Jan 2025 - Present,Electrical & Electronic Manufacturing,Head Of Engineering at Siemens Energy,...,https://www.linkedin.com/search/results/people...,emad-mounir-056137143,alfanar,ACoAACK5noIBZl8zrtg-_WWANvzuiaOi_PSlHu8,3.648820e+15,2nd,9/7/2025,9/7/2025,Software - Head of Engineering,Software - Head of Engineering
2,https://linkedin.com/in/mohammad-ashry,Mohammad Ashry,Mohammad,Ashry,JATDEV Middle East,https://linkedin.com/company/jatdev,Head of Engineering,Sep 2025 - Present,Computer & Network Security,Head of Engineering at JatDev Middle East,...,https://www.linkedin.com/search/results/people...,mohammad-ashry,jatdev,ACoAAAbymKcBN5b4T2-CTg5quKO8aWYSbB9SOcU,4.882654e+15,2nd,9/7/2025,9/7/2025,Software - Head of Engineering,Software - Head of Engineering
3,https://linkedin.com/in/moustafa-zein-65793444,Moustafa Zein,Moustafa,Zein,NaN,NaN,Engineering Lead,Oct 2024 - Present,NaN,Head of Engineering | Engineering Manager,...,https://www.linkedin.com/search/results/people...,moustafa-zein-65793444,NaN,ACoAAAlkfaMBGVJyZuNGoXgycj5ArcOTKYmGqGk,6.524305e+15,2nd,9/7/2025,9/7/2025,Software - Head of Engineering,Software - Head of Engineering
4,https://linkedin.com/in/hosamzewain,Hosam Zewain,Hosam,Zewain,Appout ITS,https://linkedin.com/company/appout,Head of Engineering,Aug 2025 - Present,Computer Software,Head of Engineering @ Appout ITS | AI & Cloud ...,...,https://www.linkedin.com/search/results/people...,hosamzewain,appout,ACoAABP09UIB0feIrfgLaK84Ljgf-FpaSUfiOPU,7.320626e+15,2nd,9/7/2025,9/7/2025,Software - Head of Engineering,Software - Head of Engineering

Loading: C:\Mohamed\Work\30 days projects\Ai-outreach-agent\data\raw\linkedin_leads.csv
Loading: C:\Mohamed\Work\30 days projects\Ai-outreach-agent\data\raw\phantombuster-all-leads-09072025 (1).csv
Loading: C:\Mohamed\Work\30 days projects\Ai-outreach-agent\data\raw\phantombuster-all-leads-09072025 (3).csv
Loading: C:\Mohamed\Work\30 days projects\Ai-outreach-agent\data\raw\phantombuster-all-leads-09072025 (5).csv
âœ… Successfully concatenated 4 files. Total rows: 60
ðŸ’¾ Saved combined file to: C:\Mohamed\Work\30 days projects\Ai-outreach-agent\data\processed\combined_leads.csv

In [25]:
df = pd.read_csv(r"C:\Mohamed\Work\30 days projects\Ai-outreach-agent\data\raw\combined_leads.csv")

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 32 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   linkedinProfileUrl               40 non-null     object
 1   fullName                         40 non-null     object
 2   firstName                        40 non-null     object
 3   lastName                         40 non-null     object
 4   companyName                      38 non-null     object
 5   linkedinCompanyUrl               38 non-null     object
 6   linkedinJobTitle                 39 non-null     object
 7   linkedinJobDateRange             39 non-null     object
 8   companyIndustry                  38 non-null     object
 9   linkedinHeadline                 40 non-null     object
 10  location                         40 non-null     object
 11  previousCompanyName              40 non-null     object
 12  linkedinPreviousCompanyUrl       35 non-null     object
 13  linkedinPreviousCompanySlug      35 non-null     float64
 14  linkedinPreviousJobTitle         40 non-null     object
 15  linkedinPreviousJobDateRange     38 non-null     object
 16  linkedinSchoolName               32 non-null     object
 17  linkedinSchoolDegree             35 non-null     object
 18  linkedinSchoolDateRange          30 non-null     object
 19  linkedinPreviousSchoolName       14 non-null     object
 20  linkedinPreviousSchoolDegree     19 non-null     object
 21  linkedinPreviousSchoolDateRange  16 non-null     object
 22  linkedinMutualConnectionsUrl     40 non-null     object
 23  linkedinProfileSlug              40 non-null     object
 24  linkedinCompanySlug              38 non-null     object
 25  linkedinProfileUrn               40 non-null     object
 26  id                               40 non-null     float64
 27  connectionDegree                 40 non-null     object
 28  createdAt                        40 non-null     object
 29  updatedAt                        40 non-null     object
 30  createdBy                        40 non-null     object
 31  updatedBy                        40 non-null     object
dtypes: float64(2), object(30)
memory usage: 10.1+ KB

In [32]:
df.columns

Index(['linkedinProfileUrl', 'fullName', 'firstName', 'lastName',
       'companyName', 'linkedinCompanyUrl', 'linkedinJobTitle',
       'linkedinJobDateRange', 'companyIndustry', 'linkedinHeadline',
       'location', 'previousCompanyName', 'linkedinPreviousCompanyUrl',
       'linkedinPreviousCompanySlug', 'linkedinPreviousJobTitle',
       'linkedinPreviousJobDateRange', 'linkedinSchoolName',
       'linkedinSchoolDegree', 'linkedinSchoolDateRange',
       'linkedinPreviousSchoolName', 'linkedinPreviousSchoolDegree',
       'linkedinPreviousSchoolDateRange', 'linkedinMutualConnectionsUrl',
       'linkedinProfileSlug', 'linkedinCompanySlug', 'linkedinProfileUrn',
       'id', 'connectionDegree', 'createdAt', 'updatedAt', 'createdBy',
       'updatedBy'],
      dtype='object')

In [34]:
filtered_columns = [
    "firstName" , "lastName" , "companyName"  , "linkedinCompanyUrl" , "linkedinJobTitle",
    "linkedinHeadline" , "companyIndustry" , "location" , "linkedinProfileUrl" , "linkedinJobDateRange"
]

df = df[df.columns.intersection(filtered_columns)]
df.head()

,linkedinProfileUrl,firstName,lastName,companyName,linkedinCompanyUrl,linkedinJobTitle,linkedinJobDateRange,companyIndustry,linkedinHeadline,location
0,https://linkedin.com/in/mohamed-k-abdelmeguid,Mohamed,Khaled,PALM,https://linkedin.com/company/withpalmai,Head of Engineering,Jan 2025 - Present,Financial Services,"Head of Engineering at Palm, MSc | Driving Pro...",Egypt
1,https://linkedin.com/in/emad-mounir-056137143,Emad,Mounir,alfanar,https://linkedin.com/company/alfanar,Design Manager,Jan 2025 - Present,Electrical & Electronic Manufacturing,Head Of Engineering at Siemens Energy,"Cairo, Egypt"
2,https://linkedin.com/in/mohammad-ashry,Mohammad,Ashry,JATDEV Middle East,https://linkedin.com/company/jatdev,Head of Engineering,Sep 2025 - Present,Computer & Network Security,Head of Engineering at JatDev Middle East,Egypt
3,https://linkedin.com/in/moustafa-zein-65793444,Moustafa,Zein,NaN,NaN,Engineering Lead,Oct 2024 - Present,NaN,Head of Engineering | Engineering Manager,"Cairo, Egypt"
4,https://linkedin.com/in/hosamzewain,Hosam,Zewain,Appout ITS,https://linkedin.com/company/appout,Head of Engineering,Aug 2025 - Present,Computer Software,Head of Engineering @ Appout ITS | AI & Cloud ...,"New Cairo, Cairo, Egypt"

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   linkedinProfileUrl    40 non-null     object
 1   firstName             40 non-null     object
 2   lastName              40 non-null     object
 3   companyName           38 non-null     object
 4   linkedinCompanyUrl    38 non-null     object
 5   linkedinJobTitle      39 non-null     object
 6   linkedinJobDateRange  39 non-null     object
 7   companyIndustry       38 non-null     object
 8   linkedinHeadline      40 non-null     object
 9   location              40 non-null     object
dtypes: object(10)
memory usage: 3.3+ KB

In [36]:
df = df.dropna(subset=["companyName"])

In [37]:
df["linkedinJobTitle"] = df["linkedinJobTitle"].fillna("Unknown Job Title")
df["linkedinCompanyUrl"] = df["linkedinCompanyUrl"].fillna("")
df["linkedinJobDateRange"] = df["linkedinJobDateRange"].fillna("")

In [38]:
df["firstName"] = df["firstName"].str.title()

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, 0 to 39
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   linkedinProfileUrl    38 non-null     object
 1   firstName             38 non-null     object
 2   lastName              38 non-null     object
 3   companyName           38 non-null     object
 4   linkedinCompanyUrl    38 non-null     object
 5   linkedinJobTitle      38 non-null     object
 6   linkedinJobDateRange  38 non-null     object
 7   companyIndustry       38 non-null     object
 8   linkedinHeadline      38 non-null     object
 9   location              38 non-null     object
dtypes: object(10)
memory usage: 3.3+ KB